@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./images/v640-peipei-09-modernbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

