@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./images/v640-peipei-09-modernbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}


.custom-swal-font{
    font-size: 17px;
    color:rgb(6, 6, 95)e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.custom-swal{
    width: 250px;
    padding-left: 0px;
    padding-right: 0px;
}

.swal2-styled{
    background: #172554 !important;
    /* box-shadow: none !important; */
}

